@model IEnumerable<Domain.Entities.Interview>

@{
    ViewBag.Title = "Index";
}
<!-- HOME -->

<section class="section-hero overlay inner-page bg-image" style="background-image: url('images/hero_1.jpg');" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">Schedule An Interview</h1>
                <div class="custom-breadcrumbs">
                    <a href="#">Home</a> <span class="mx-2 slash">/</span>
                    <a href="#">Interview</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>Schedule An Interview</strong></span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="site-section">

    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-lg-8 mb-4 mb-lg-0">
                <div class="d-flex align-items-center">
                    <div>
                        <h2>Schedule An Interview</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-12">
                        <a href="Interview/Create" class="btn btn-block btn-primary btn-md">Add an interview</a>
                    </div>
                </div>
            </div>
        </div>





        <table class="table">
            <tr>
                <th>
                    Id Interview
                </th>
                <th>
                    Date Interview
                </th>
                <th>
                    Lieu
                </th>
                <th>
                    Candidate
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.idInterview)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateInterview)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lieu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.idCandidat)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.idInterview }) |
                        @Html.ActionLink("Details", "Details", new { id = item.idInterview }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.idInterview })
                    </td>
                </tr>
            }

        </table>
    </div>
</section>