@model Domain.Entities.Quiz

@{
    ViewBag.Title = "Details";
}

<!-- HOME -->

<section class="section-hero overlay inner-page bg-image" style="background-image: url('images/hero_1.jpg');" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">Manage Quiz</h1>
                <div class="custom-breadcrumbs">
                    <a href="#">Home</a> <span class="mx-2 slash">/</span>
                    <a href="#">Quiz</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>Manage Quiz</strong></span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="site-section">

    <div class="container">
        

        <h2>Details for <strong>@Html.DisplayFor(model => model.libelleQuiz)</strong></h2>

        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Libelle Quiz
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.libelleQuiz)
                </dd>

                <dt>
                    Number of questions
                </dt>

                <dd>
                    @ViewBag.countquestions
                </dd>




            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.idQuiz }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
        </div>
</section>